
.context {

  &-next {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.centered {
  :global {
    .arco-form-item {
      margin-bottom: 1px;
    }
  }
}

.ca {
  display: flex;
  position: relative;


  &-way {
    width: 450px;
  }

  &-transmission {
    width: 450px;
  }

  &-text {
    position: absolute;
    right: 1rem;
    top: -4rem;
    max-width: 30rem;
  }
}

.year {
  display: flex;
  align-items: center;

  b {
    margin-right: 1rem;
  }
}

.custom-radio-card {
  margin: 1rem;
  padding: 10px 16px;
  border: 1px solid var(--color-border-2);
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.custom-radio-card-mask {
  height: 14px;
  width: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px solid var(--color-border-2);
  box-sizing: border-box;
}

.custom-radio-card-mask-dot {
  width: 8px;
  height: 8px;
  border-radius: 100%;
}

.custom-radio-card-title {
  color: var(--color-text-1);
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

.custom-radio-card:hover,
.custom-radio-card-checked,
.custom-radio-card:hover .custom-radio-card-mask,
.custom-radio-card-checked .custom-radio-card-mask {
  border-color: rgb(var(--primary-6));
}

.custom-radio-card-checked {
  //background-color: var(--color-primary-light-1);
}

.custom-radio-card:hover .custom-radio-card-title,
.custom-radio-card-checked .custom-radio-card-title {
  color: rgb(var(--primary-6));
}

.custom-radio-card-checked .custom-radio-card-mask-dot {
  background-color: rgb(var(--primary-6));
}

.model-name {
  color: var(--arcoblue-7);
}

