
.context {
  &-text {
    position: absolute;
    right: 6rem;
    top: -1rem;
  }
  &-next {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
.centered {
  :global {
  .arco-form-item {
    margin-bottom: 1px;
  }
  }
}
