
.context {
  &-text {
    position: absolute;
    right: 6rem;
  }
  &-next {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  &-warn {
    position: absolute;
    right: 6rem;
    bottom: 7rem;
  }
}
