.table-style {
  font-size: 8px;
  width: 100%;
  border: 0.5px solid #F2F3F5;
  border-collapse: collapse;
  table-layout: fixed;
  vertical-align: middle;

  td, th {
    padding: 10px 1rem 10px 1rem;
    border: 1px solid #F2F3F5;
    text-align: center;
  }

  th {
    background: var(--color-neutral-2);
  }

  input {
    border: none;
  }

  &-mini {
    width: 11rem;
  }

  &-mid {
    width: 16rem;
  }

  &-last {
    width: 50rem;
  }

  :global(.arco-table-th) {
    padding: 3px 5px;
  }
}

.context-next {
  position: absolute;
  right: 1rem;
  bottom: 2rem;
}

.log-table {
  font-size: 16px;

  .expected {
    background: var(--color-neutral-2);
  }
}

.modal {
  width: 85%;
  min-width: 850px;
  max-height: 90%;
  overflow: auto;
}

.project {
  text-align: center;

  p {
    margin: 3px;
  }

  div:first-child p:first-child {
    text-decoration: underline;
    text-decoration-color: rgb(var(--arcoblue-2));
    text-decoration-thickness: 6px;
  }
}
