.content {
  position: relative;
  width: 100%;
  height: 30vh;
  min-height: 370px;
  color: var(--color-black);
  background: var(--color-neutral-2);
  display: flex;
  align-content: center;
  justify-content: space-between;

  &-banner {
    z-index: 1;
    width: 60%;

    &-logo {
      position: relative;
      bottom: -1rem;
      padding: 1rem;
      margin: auto;
      width: 40%;
      height: 25%;
    }

    &-content {
      margin: 3rem;
      margin-left: 35%;
      color: var(--color-text-1);
    }

    &-group {
      padding: 7px;
      border-radius: 10px;
      margin-top: 2rem;
      width: 450px;
      background: var(--color-bg-2);
      transition: 0.5s;

      &:hover {
        transform: scale(0.98);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      }
    }

  }

  &-search-box {
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    position: relative;
  }

  &-img {
    width: 40%;
    height: 100%;
  }
}

.button {
  margin-left: 3rem;
  transition: 0.5s;

  &:hover {
    transform: scale(0.98);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

.select {
  width: 25%;

  :global(.arco-select-view) {
    background: var(--color-bg-2) !important;
  }
}

.input {
  width: 75%;
  background: var(--color-bg-2);

  :global(.arco-input-inner-wrapper-focus) {
    border-color: var(--color-bg-2) !important;
  }

  :global(.arco-input-inner-wrapper) {
    background: var(--color-bg-2) !important;
  }

  :global(.arco-input-group-addafter) {
    background: var(--color-bg-2) !important;
  }
}
