.content-type {
  display: flex;

  > svg {
    margin-right: 8px;
    margin-top: 3px;
  }
}


.group-button {
  //button {
  //  margin: 2px 7px;
  //}
  display: inline-block;
  margin-left: 10px;
}

.add-customer {
  br {
    margin: 1rem;
  }
}
