.context {
  display: flex;
  &-main {
    width: 100%;
  }
  &-right {
    max-width: 20rem;
  }
}

.table-style{
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  table-layout:fixed;
  td, th {
    padding: 1rem;
    border: 1px solid black;
  }
}
