.context {
  &-main {
    width: 100%;
    margin-bottom: 3rem;
  }
  &-right {
    max-width: 70%;
  }
}

.table-style{
  font-size: 8px;
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  table-layout:fixed;
  td, th {
    padding: 0px;
    border: 1px solid black;
    height: 0rem;
    text-align:center;
  }
  tr{
    height: 0rem;
  }

  .title {

  }

  .mini {
    width: 3rem;
  }

  .medium {
    width: 5rem;
  }

  input {
    border: none;
  }

}
