. {

    --w-e-textarea-bg-color: #333;
    --w-e-textarea-color: #333;
    --w-e-textarea-border-color: #333;
    --w-e-textarea-slight-border-color: #333;
    --w-e-textarea-slight-color: #333;
    --w-e-textarea-slight-bg-color: #333;
    --w-e-textarea-selected-border-color: #333;
    --w-e-textarea-handler-bg-color: #333;
    --w-e-toolbar-color: #595959;
    --w-e-toolbar-bg-color: #333;
    --w-e-toolbar-active-color: #333;
    --w-e-toolbar-active-bg-color: #333;
    --w-e-toolbar-disabled-color: #333;
    --w-e-toolbar-border-color: #333;
    --w-e-modal-button-bg-color: #333;
    --w-e-modal-button-border-color: #333;
}
