.list {
 //padding: 10px;
}
.context-next {
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
}
.card {
 padding-top: 7px;
 .title {
  padding-top: 2rem;
  padding-bottom: 2rem;
 }
 :global {
  .arco-form-item-wrapper {
  width: 100%;
  }
 }
}
