.model {
  &-next {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.efuse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.3rem;
}

.button_group {
  position: absolute;
  right: -5rem;
}

.button_group_information {
  position: absolute;
  left: 10rem;
  top: 15px;
}

.key {
  //margin-left: 1.5rem;
  //position: absolute;
  //right: -5rem;
  //position: relative;
  width: 90%;
}

.button_group_delete {
  position: relative;

  &-form {
    width: 90%;
  }

  &-button {
    position: relative;
    top: 2.3rem;
    right: 5%;
    float: left;
  }

}

.encryption {
  margin-top: 1rem;
  margin-left: 2rem;
  position: relative;

  &-group {
    position: absolute;
    right: -0.5rem;
    bottom: -0.8rem;
  }

  &-secure {
    position: absolute;
    display: flex;
    align-items: center;
    left: 12rem;
    bottom: 0.2rem;
  }

}
